<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Node API Skeleton 中文模板</title>
  </head>

  <body>
    <h1 style="text-align: center; margin-top: 100px;">API 入口</h1>
    <h2 style="text-align: center;">
      更多資訊請查看:
      <a target="_blank" href="https://github.com/PSheon/Node-API-skeleton">
        Node-API-skeleton
      </a>
    </h2>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
  <script src="/main.js"></script>
</html>
